:root {
    --font-sans: "Inter Variable", Inter, Arial, sans-serif;

    --color-page: #DFE0E5;
    --color-secondary: #EFF0F2;
    --color-surface: #ffffff;

    --color-text: #060608;
    --color-text-reverse: white;
    --color-text-secondary: #959595;

    --color-border: #bbbdc8;

}

* {
    box-sizing: border-box;
}

html {
    background: var(--color-page);
    font-family: var(--font-sans);
    color: var(--color-text);
}

body {
    margin: 0;
    background: var(--color-page);
    font-size: 15px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

